<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <section>

    <div class="header">

      <ion-grid class="ion-align-items-center">
        <ion-row>
          <ion-col size="5">
            <img style="height: 200px;" src="../../assets/img/covid-19.svg" alt="">
          </ion-col>
          <ion-col size="7">
            <h3 class="text">5 Sintomas do <br> Covid-19</h3>
            <button class="botaozinho">Leia mais</button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div>
      <ion-searchbar [(ngModel)]="searchCountry" autocomplete="off" animated style="width: 257px; margin: 0 auto;"
        placeholder="País">
      </ion-searchbar>
      <!-- <ion-searchbar style="width: 257px; margin: 0 auto; " color="primary"></ion-searchbar> -->
      <p style="text-align: center;">Casos no Mundo</p>
      <!-- <h5 style="font-weight: bold; text-align: center;">18:00 07/04/2020</h5> -->

      <ion-card style="border-left: 6px solid #7F0EB5; " color="secondary">
        <ion-card-content style="height: 87px;">
          <h1>{{cases}}</h1>
          <small>
            Casos

          </small>
        </ion-card-content>
      </ion-card>


      <ion-card style="border-left: 6px solid rgb(42, 43, 42); " color="secondary">
        <ion-card-content style="height: 87px;">
          <h1>{{deaths}}</h1>
          <small>
            Óbitos
          </small>
        </ion-card-content>
      </ion-card>

      <ion-card style="border-left: 6px solid #0EB579; " color="secondary">
        <ion-card-content style="height: 87px;">
          <h1>{{recovered}}</h1>
          <small>
            Recuperados
          </small>
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col size="6">
          <h2 class="ion-padding" style="text-align: left;font-weight: bold; color: black;">Paises</h2>
        </ion-col>
        <ion-col size="6">
          <h4 class="ion-padding" style="text-align: right; color: black;">View All</h4>
        </ion-col>
      </ion-row>

      <ion-slides [options]="slideOpts">

        <ion-slide *ngFor="let country of countries | filter:searchCountry" style="width: 300px;">
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>{{country.country}}</ion-card-title>
            </ion-card-header>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
            <ion-card-content>

            </ion-card-content>
          </ion-card>
        </ion-slide>



      </ion-slides>

    </div>
  </section>
</ion-content>